<h1>{{title}}</h1>
<a href="/cart" class="btn btn-primary">cart</a>
<a href="/user/signin" class="btn btn-danger">login</a>
<a href="/videos" class="btn btn-success">checkout the videos</a>
<!--<a href="/user/signup" class="btn btn-warning">sign Up</a>-->

